{% extends 'base.html' %}

{% block content %}
<div class="container text-center jumbotron mt-3">
  <h1 class="font-weight-bold">{{group.name}}</h1> <hr>
  <h2>{{group.description}}</h2>
</div>

{% if group.questions.count == 0 %}
<div class="container text-center">
  <h4>There are no Questions in this Group. Be the first to <a class="btn btn-dark-green btn-sm" href="{% url 'create_question' %}">Ask a Question</a></h4>

  {% else %}
  <h3 class="text-center font-weight-bold">
    Recently asked questions
  </h3>
  {% for question in group.questions.all %}
  <!-- Need for loop to go through each one -->
  <ul>
    <li class="font-weight-bold"><a href="{% url 'questions:question_single' slug=question.slug %}">{{question.name}}</a></li>
  </ul>
  <!-- This is used to inject a html file into the middle of this block, similar to extends -->
  {% endfor %}
  {% endif %}
</div>

{% endblock %}