{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="jumbotron text-center">
  <h1>Welcome to MoringaFlow</h1>
  <hr>
  <p>
    MoringaFlow is a question and answer site for professional and enthusiast programmers. It is a class based program
    designed by <a href="https://github.com/Jay-68" target="_blank">James Ngari </a> on the idea of
    stackoverflow. It features questions and answers on a wide range of topics courses offered in core module at
    Moringa: Python, Django, Flask and Javascript. It was created to be a more open alternative to earlier question and
    answer sites such as stackoverflow since the questions posted here are more relevant to the module being covered.
    The name for the website was chosen at random because its creator was lazy at the time.
  </p>

</div>

<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a href="https://twitter.com/home" target="_blank" class="btn-floating btn-tw mx-1">
          <i class="fab fa-twitter"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://www.linkedin.com/feed/" target="_blank" class="btn-floating btn-li mx-1">
          <i class="fab fa-linkedin-in"> </i>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://github.com/Jay-68">James Ngari</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

{% endblock %}