{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="view overlay">
  <h3 style="font-family: fantasy;font-size: 100px;">Welcome to FriendFeed</h3>
  <img class="card-img-top"
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSsz46MSm9N7iF7BGtud4lzh7N_MXL0Kl5vss_kTvsWtjt9UmLofQ&s"
    alt="Card image cap">
</div>
<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a href="https://twitter.com/home" target="_blank" class="btn-floating btn-tw mx-1">
          <i class="fab fa-twitter"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://www.linkedin.com/feed/" target="_blank" class="btn-floating btn-li mx-1">
          <i class="fab fa-linkedin-in"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://www.linkedin.com/feed/" target="_blank" class="btn-floating btn-li mx-1">
          <i class="fab fa-facebook"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://www.linkedin.com/feed/" target="_blank" class="btn-floating btn-li mx-1">
          <i class="fab fa-instagram"> </i>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://github.com/Jay-68">Collins K. Bett</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

{% endblock %}